@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&family=Source+Code+Pro&display=swap');

.topbar{
    font-family: 'JetBrains Mono';
    font-size: 12px;
    border: 1px;
}

.header{
    font-family: 'JetBrains Mono';
    color: white;
    background-color: black;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 15px solid black;

}

.homebar{
    color: black;
    background-color: white;
    font-family: 'JetBrains Mono';
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    right: 0;
    left: 0;
}

.homebar-list{
    list-style: none;
    text-decoration: none;
}

li{
    float: left;
}

li a{
    padding: 16px;
    text-decoration: none;
    color: black;
}
